<?xml version="1.0" encoding="utf-8"?>
<configuration>  
	<config>
		<!--
			For the repositoryPath setting, you can specify an absolute path or relative path (recommended) using the $ token.
			The $ token is based on where the NuGet.Config is located (The $ token is actually relative to one level below
			the location of the NuGet.Config). So, if you have:
				"\Solutions\NuGet.Config"
			and I want:
				"\Solutions\Packages"
			You would need to specify:
				"$\..\Packages"
			as the value.
		-->
		<add key="repositoryPath" value="$\..\..\packages" />
	</config>
	<packageSources>
		<add key="EccoviaNuget" value="https://eccovia.pkgs.visualstudio.com/_packaging/EccoviaNuget/nuget/v3/index.json" />
	</packageSources>
</configuration>