@{
	ViewBag.Title = "Host a Game - Survey Says";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="app" class="container">
	<router-view></router-view>
</div>

@*section scripts {
	<script src="~/js/host.js"></script>
}*@