.strike-counter {
  align-items: center;
  display: flex;
  height: 4rem;
  justify-content: center; }
  .strike-counter .strike {
    border: solid .25rem #f00;
    color: #f00;
    display: block;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 2rem;
    margin: 0 .5rem;
    text-align: center;
    width: 2.5rem; }

.strike-enter-active {
  transition: transform 1s ease-out; }

.strike-enter {
  transform: scale(5); }

.survey-active .survey-answer:focus, .survey-active .survey-answer:hover, .survey-active:focus .survey-answer.active {
  border-color: #007bff;
  box-shadow: 0 2px 5px rgba(0, 123, 255, 0.3); }

.survey-answer {
  border: solid 1px #ced4da;
  border-radius: .5rem;
  margin-bottom: .5rem;
  outline-offset: .2rem;
  padding: .5rem 1rem;
  position: relative; }

.survey-answer-selected {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff; }

.survey-answer-show {
  display: flex; }

.survey-answer-text {
  flex-grow: 1; }

.survey-answer-hide {
  text-align: center; }

.board-transition-enter-active {
  transform-origin: 0 top;
  transition: transform .5s ease-in; }

.board-transition-leave-active {
  bottom: .5rem;
  left: 1rem;
  position: absolute;
  right: 1rem;
  transform-origin: 0 bottom;
  transition: transform .5s ease-in; }

.board-transition-enter, .board-transition-leave-to {
  transform: rotateX(90deg); }
