///<reference path="../_colors.scss" />
%survey-answer-active {
	border-color: $c-primary;
	box-shadow: 0 2px 5px rgba($c-primary, .3);
}

.survey-answer {
	border: solid 1px $c-border;
	border-radius: .5rem;
	margin-bottom: .5rem;
	outline-offset: .2rem;
	padding: .5rem 1rem;

	.survey-active & {
		&:focus, &:hover {
			@extend %survey-answer-active;
		}
	}

	.survey-active:focus &.active {
		@extend %survey-answer-active;
	}
}

.survey-answer-selected {
	background-color: $c-primary;
	border-color: $c-primary;
	color: $c-contrast;
}

.survey-answer-show {
	display: flex;
}

.survey-answer-text {
	flex-grow: 1;
}

.survey-answer-hide {
	text-align: center;
}